
/* css */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #C04040;
}
.popup{
    background-color: #ffffff;
    width: 50rem;
    padding: 30px 40px;
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 5rem;
    border-style: solid;
    z-index: 5;
    display: none;
    font-family: "Poppins",sans-serif;
    text-align: center;
}


.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2{
   margin-top: -20px;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

a #close2{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}

/* .row {
  background-color: white;
  height: 21rem;
} */

.tacbox {
  border-radius: 2em;
  display:block;
  text-align:center;
  position:absolute;
  right:15em;
  padding: 1em;
  margin: 2em;
  border: 1em solid #ddd;
  background-color: #eee;
  max-width: 60%;

}

.tacbox p{
  height: 10em;
  overflow-y: auto;
  font-size: 14px;
  font-weight: 500;
  max-width: 90%;
  padding-left: 6em;
  text-align: center;
}
input {
  height: 2em;
  width: 7em;
  vertical-align: middle;
  text-align: left;
}

.popup2{
    background-color: #ffffff;
    width: 50rem;
    padding: 30px 40px;
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 5rem;
    border-style: solid;
    z-index: 5;
    display: none;
    font-family: "Poppins",sans-serif;
    text-align: center;
}


.popup2 #close3{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: #03549a;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: right;
}

.popup2 h2{
   margin-top: -20px;
}
.popup2 p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}

#first{
  background-color: white;
}

.square {
  height: 2rem;
  width: 2rem;
  background-color: white;
}

.square2 {
  height: 16rem;
  width: 20rem;
  background-color: red;
}


.square3 {
  height: 2rem;
  width: 2rem;
  background-color: #000080;
}
